@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-inter;
  }

  body {
    background: #1e1f2b;
  }

  button {
    @apply outline-none;
  }
}
